.card {
  border: 2px solid blue;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}
.img {
  width: 300px;
  background-size: cover;
  border-radius: 10px;
}
.clickBtn {
  background: gray;
}
