.foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.clickBtn {
  background: gray;
}
.div {
  border: 2px solid gold;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}
.cardd {
  border: 2px solid purple;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  width: 200px;
}
.w {
  width: 150px;
}

.display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
