.foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.clickBtn {
  background: gray;
}
.div {
  border: 2px solid gold;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}
.Card {
  border: 2px solid purple;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w {
  width: 200px;
  background-size: cover;
  border-radius: 10px;
}

.display {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
